<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mozik | VidioSelect</title>
  <link rel="stylesheet" href="css/style.css">
</head> 
<body> 
<!-------header------->
  <header class="main-header">
    <a class="logo" href="index.html">Mozik</a>

    <nav class="nav-menu">
      <a href="#features">주요기능</a>
      <a href="#contact">문의하기</a>
      <a href="#login">로그인/회원가입</a>
      <a class="create-btn" href="VideoSelect.html">동영상 만들기</a>
    </nav>
  </header>

<!-------메인페이지------->
  <main>
    <button class="btn"><a href="VideoEditor.html">새로 만들기</a></button>
    <button class="btn"><a href="#">프로젝트 열기</a></button>
  </main>

  <!-------footer------->
  <footer class="footer">
    <p>Copyright © 2025 Mozik. All rights reserved.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>