<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mozik | 동영상 편집기</title>
    <link rel="stylesheet" href="style.css">
</head> 
<body>
  <header class="main-header">
    <div class="logo"><a href="index.html">Mozik</a></div>

    <nav class="nav-menu">
      <a href="#features">주요기능</a>
      <a href="#contact">문의하기</a>
      <a href="#login">로그인/회원가입</a>
      <button class="create-btn"><a href="VideoSelect.html">동영상 만들기</a></button>
    </nav>
  </header>    
  <header>
      <nav class="nav-menu">
      <a>자막</a>
      <a>서식</a>
      <a>자막</a>
      <a>파일</a>
      <a>모자이크</a>
      </nav>
  </header>
  <main class="editor-container">
    <section class="video-section">
      <video id="videoPlayer" controls></video>
      <input type="file" id="videoInput" accept="video/*">
    </section>

    <aside class="tools">
      <h3>편집 도구</h3>
      <button id="btnSave">내보내기</button>
      <button id="btnMosaic">모자이크 처리</button>
      <button id="btnTrim">자르기</button>
    </aside>
  </main>
</body>
</html>